.main {
    background-color:#c4dffa ;
    color:#333;
    margin: 0px 150px;
    border:2px solid #333;
    text-align: center;
}

.form-title {
    padding-top:20px;
    font-weight: bold;
}

.form-item {
    padding: 20px 0 10px 0;
}

.btn_next{
    border-radius:10px;
    margin-bottom:20px;
    border: none;
    padding:5px 30px;

    background-color: cornflowerblue;
    color: aliceblue;
}

.btn_back{ 
    border-radius:10px;
    margin-bottom:20px;
    border: none;
    padding:5px 30px;

    background-color: aliceblue;
    color: cornflowerblue;
}

.thank-main{
    background-color:#c4dffa ;
    color:#333;
    margin: 0px 150px;
    padding:200px 0px;
    text-align:center;
    border:2px solid #333;
}

li{
    list-style:none;
    color:red;
}

.error{
    color:red;font-size:0.8px;
}


