body {
    background-color:#c4dffa ;
    color:#333;
}


main {
    background-color:#c4dffa ;
    color:#333;
    text-align: center;
}

.form-title {
    padding-top:20px;
    font-weight: bold;
}

.form-item {
    padding: 20px 0 10px 0;
}


.btn {
    display: inline-block;
    border-radius:10px;
    margin:0 auto 10px;
    margin-top:10px;
    border: none;
    padding:5px 30px;
    text-align: center; 
    font-size: 16px;
}

a {
    text-decoration: none;
    color:black;
}

.next {
    background-color: cornflowerblue;
    color: aliceblue;
}

.back { 
    background-color: aliceblue;
    color: cornflowerblue;
}

.error {
    color:red;font-size:0.8em;
}

header{
    height: 65px;
    width: 100%;
    background-color:hsla(22, 83%, 84%, 0.9);
   
}

li {
    list-style:none;
    float: right;
    padding: 10px;
    border:1px solid black;
    margin-top:10px;
    margin-right: 10px;
   
}
 
.header-title{
    float: left;
    margin-left:30px;
    margin-top:15px;
    
}

