html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color:#c4dffa ;
    color:#333;
}

main {
    background-color:#c4dffa ;
    color:#333;
    text-align: center;
    margin: 0px 300px;
    margin-top: 20px;
    flex: 1;
}

.error {
    color:red;font-size:0.8em;
}

.wrapper {
    min-height: 100%;
}


header,footer{
    min-height: 65px;
    width: 100%;
    background-color:hsla(16, 10%, 79%, 0.801);
}

header{
    display:flex;
}

.header-title{
    font-weight: bold;
    font-size: 20px;
    flex:0px;
    margin-top: 13px;
    margin-left: 10px;
}

.header-messege{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
}

.header-menu{
    text-align: right;
}

.logout_btn{
    text-align: right;
    padding:10px;
    margin-right: 10px;
    margin-top: 8px;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.form-title {
    padding-top:20px;
    font-weight: bold;
}

.form-item{
    margin-top: 10px;
}

.btn_login{
    background-color: rgb(23, 74, 168);
    color: aliceblue;
    margin-top: 30px;
    padding:3px 12px;
}

.header-menu a {
    text-decoration: none;
    color:black;
    border:#333 solid 1px;
    margin-top: 15px;
    margin-right: 10px;
    padding:3px 12px;
    display: block;
}

.toMember_btn {
    text-decoration: none;
    border:#396092 solid 2px;
    color:#396092;
    background-color: #dbe4f0;
    border-radius:10px;
    padding:15px 80px;
}

 table{
    width:100%;
    margin-top: 20px;
 }

 th{
    background-color:hsla(16, 10%, 79%, 0.822);
 }

 .search_btn{
    border:#396092 solid 2px;
    color:#396092;
    background-color: #dbe4f0;
    margin: 15px 0px;
    padding:8px 10px;
    border-radius:10px;
 }

 .pagination{
    text-align: right;
    
 }

 .pagination a {
    color:#333;
    padding:2px 2px;
    text-decoration: none;
    display:inline-block;
 }

 .current_page {
    background-color: rgb(24, 85, 155);
    color: white;  
}

.toRegist a {
    text-decoration: none;
    border:#dbe4f0 solid 2px;
    background-color: #396092;
    color:#dbe4f0;
    margin: 15px 0px;
    padding:8px 10px;
    border-radius:10px;
}